{% extends 'partials/base.html' %}
{% block body %}
<div class="container">
	<h1> Pick Images </h1>
	<p> Please select an image for each sentence: </p>

	<form action="{% url 'pick_images' set.id %}" method="post">
			{% csrf_token %}
			<ol>

			{% for form, images in data_zip %}
				<li>{{ form.as_p }}</li>
				
				{% for image in images %}
					<img src={{ image }}/>
				{% endfor %}
			{% endfor %}
			</ol>
			<input type="submit" class="btn btn-secondary" value="Submit">
	<p><a href='{%url 'home' %}' class="btn btn-secondary">Back to home</a></p>
</div>
{% endblock %}